################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/discrete_graph_c#/.vs/discrete_graph_c#/FileContentIndex/af7ba81d-261e-445a-a086-a1db7fc5fb67.vsidx
