################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/discrete_graph_c#/.vs/discrete_graph_c#/FileContentIndex/af7ba81d-261e-445a-a086-a1db7fc5fb67.vsidx
/discrete_graph_c#/.vs/discrete_graph_c#/FileContentIndex/dfe0f443-4ab1-4381-9c0a-58fb63f5979f.vsidx
*.vsidx
